{% extends "tech_admin_base.html" %}

{% block title %}Delete Schedule{% endblock %}

{% block content %}
    <h3>Delete Schedule</h3>
    <form method="post" action="{{ url_for('techadmin_change_password') }}">
        {{form.csrf_token}}
        <table class="center-form color-form">
            <tr>
                <td>{{form.movie_name.label}} :</td>
                <td>{{form.movie_name}}</td>
            </tr>
            <tr>
                <td>{{form.theater_name.label}} :</td>
                <td>{{form.theater_name}}</td>
            </tr>
            <tr>
                <td>{{form.start_date.label}} :</td>
                <td>{{form.start_date}}</td>
            </tr>
        </table>
        <br>
        {{form.submit}}
        <input type="reset">
    </form>
    <br>
{% endblock %}
