{% extends "tech_admin_base.html" %}

{% block title %}Change Password{% endblock %}

{% block navbar %} {% endblock %}

{% block content %}
{% block right_top_link %}
<div class="top-left-link">
    <a href="{{ url_for('tech_admin_bp.techadmin_login') }}">Login</a>
</div>
{% endblock %}
    <h3>Enter your credentials</h3>
    <form method="post" action="{{ url_for('tech_admin_bp.techadmin_change_password') }}">
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for msg in messages %} 
                <p>{{msg}}</p>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color:red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {{form.csrf_token}}
        <table class="center-form">
            <tr>
                <td>{{form.username.label}} :</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.old_password.label}} :</td>
                <td>{{form.old_password}}</td>
            </tr>
            <tr>
                <td>{{form.new_password.label}} :</td>
                <td>{{form.new_password}}</td>
            </tr>
            <tr>
                <td>{{form.confirm_password.label}} :</td>
                <td>{{form.confirm_password}}</td>
            </tr>
        </table>
        <br>
        {{form.submit}}
        <input type="reset">
    </form>
    <br>
{% endblock %}
