{% extends "tech_admin_base.html" %}

{% block title %}Login Form{% endblock %}

{% block navbar %} {% endblock %}
{% block right_top_link %} {% endblock %}

{% block content %}
    <h3>Enter your credentials</h3>
    <form method="post" action="{{ url_for('tech_admin_bp.techadmin_login') }}">
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for msg in messages %} 
                <p>{{msg}}</p>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        {{form.csrf_token}}
        {{form.username.label}} : {{form.username}}
        <br><br>
        {{form.password.label}} : {{form.password}}
        <br><br>
        {{form.submit}}
        <input type="reset">
    </form>
    <br>
    <a href="{{ url_for('tech_admin_bp.techadmin_change_password')}}">Change Password</a>
{% endblock %}
