{% extends "tech_admin_base.html" %}

{% block title %}Schedule Movie{% endblock %}

{% block content %}
    <h3>Schedule Movie</h3>
    <form method="post" action="{{ url_for('tech_admin_bp.techadmin_schedule_movie') }}">
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for msg in messages %} 
                <p>{{msg}}</p>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        {{form.csrf_token}}
        <table class="center-form color-form">
            <tr>
                <td>{{form.movie_name.label}} :</td>
                <td>{{form.movie_name}}</td>
            </tr>
            <tr>
                <td>{{form.theater_name.label}} :</td>
                <td>{{form.theater_name}}</td>
            </tr>
            <tr>
                <td>{{form.start_date.label}} :</td>
                <td>{{form.start_date}}</td>
            </tr>
            <tr>
                <td>{{form.end_date.label}} :</td>
                <td>{{form.end_date}}</td>
            </tr>
        </table>
        <br>
        {{form.submit}}
        <input type="reset">
    </form>
    <br>
{% endblock %}
